{% assign skills_data = site.data.data.skills %} 
{% if skills_data %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills_data.title }}
  </h2>

  <div class="skillset">
    {% for group in skills_data %}
      {% if group.title and group.info %}
        <h3 class="skill-group-title">{{ group.title }}</h3>
        
        <div class="skill-group-items"> {% for skill in group.info %}
          <div class="item">
            <h4 class="level-title">{{ skill.name }}</h4>
            <div class="level-bar">
              <div class="level-bar-inner" style="width: {{ skill.level | escape }}"></div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}
